html
  head
    title Follow Back List
  body
    h1 Enter your @handle here
    form(action="list", method="POST")
      input.form-control(type="text", name="name", placeholder="Example: @jack")
      input.form-control(type="submit", value="Generate List")
